.App {
  text-align: center;
}

.navbar{
  background-color: #00ca4e;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 3%;
  gap: 10px;
  height: 50px;
  position: sticky;
  top: 0;
}

.navbar .link{
  text-decoration: none;
  color: rgb(225, 225, 225);
  transition: 0.3s;
}

.link:hover{
  color: white;
}

.navbar-credentials{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  box-shadow: 0 0 5px black;
  padding: 0 2%;
  height: 45px;
  border-radius: 10px;
}

.navbar-credentials img{
  border-radius: 50%;
}
.navbar-credentials button{
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-color: tomato;
  border-radius: 10px;
  font-family: consolas;
  transition: 0.3s;
}

.navbar-credentials button:hover{
  background-color: tomato;
  color: white;
}